@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
body {
    padding: 5px;
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    background: #ececec;
}
#navbar {
    height: 50px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 28px;
    background: black;
    color: white;
}

.navbarIcon {
    float: right; 
    padding-top: 8px; 
    padding-right: 20px; 
    font-size: 20px; 
    cursor: pointer;
}
.navbarIcon:hover {
    color:#CC0000;
}

.logo {
    padding-top: 10px;
    font-size: 30px;
}
#messages{
    width: 100%;
    height: 350px;
    overflow-y: scroll;
    border: 1px solid #eee;
    box-shadow: 0px 0px 5px #ccc inset;
}
.message {
    margin: 20px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: white;
}

.messageBlack {
    background-color: black;
    color: white; 
}

.messageRed {
    background-color: #CC0000;
    color: white; 
}

input {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 15px;
    width: 100%;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}

textarea {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 20px;
    width: 100%;
    height: 80px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-align: center;
}
.buttonSubmit {
    padding: 10px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 18px;
}

#alert {
    display: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background: #CC0000;
    color: white;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
    
}

#panel {
    display: none;
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: #000; 
}
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

.modal-header {
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    background: black; 
    color: white;
}

.modal-content {
    background-color: #ccc;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}